<!-- ============ TOP NAV ============ -->
<div class="topnav">

  <div class="col-md-4 date">
    <p>Date and Time</p>
  </div>

  <div class="col-md-4 hospital-name">
    <h2>
      Top Nav
    </h2>
  </div>

  <div class="col-md-4 list">
    <ul>
      <li>
        <a href="">
          <mat-icon>person</mat-icon>
          <span>USERNAME</span>
        </a>
      </li>
      <li>
        <a href="">
          <mat-icon class="ic-logout" aria-hidden="false" aria-label="Example signout icon">home</mat-icon>
          <span>
            LOGOUT
          </span>
        </a>        
      </li>
    </ul>
  </div>

</div>



<!-- ============ END OF TOP NAV ============ -->

<!-- ============ PATIENT DETAILS ============ -->
<H1>
  PATIENT DETAILS
</H1>

<div class="row">
  <div class="col-md-3">
    <H1>
      PATIENT DETAILS
    </H1>
  </div>
  <div class="col-md-3">
    <H1>
      PATIENT DETAILS
    </H1>
  </div>
  <div class="col-md-3">
    <H1>
      PATIENT DETAILS
    </H1>
  </div>


</div>


<!-- ============ END OF PATIENT DETAILS ============ -->