/* ============ TOP NAV ============ */

.top{
    position: fixed;
    z-index: 1000;
    width: 100%;

}

.details{
    background-color: white;
}

.topnav{
    background-color: #3498DB;
    height: 8vh;
    color: white;
    padding-left: 16px;
    
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}
   
 
.date a{
    text-decoration: none;
    color: white;    
}

.hospital-name{
    text-align: center;
}

.hospital-name a{
    font-size: 24px;
    text-decoration: none;
    color: white;
}

.menulist{
    text-align: center;
}

ul{
    list-style-type: none;
    font-size: 12px;
}

li{
    float: right;
}

li a{
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-size: 12px;
}

li a:hover {
    color: #111111;
}

.list img{
    width: 20px;
    padding-right: 4px;
}

.list .alerts{
    height: 18px;
    width: auto;
}


  /* ============ End Of TOP NAV ============ */




   /* ============ PERSONAL DETAILS ============ */

.personal-details{
    height: 6vh;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;  
}

.personal{
    margin-left: 15px;
    color: #2B4857;
}

.personal span{
    font-size: 16px;
    font-weight: 500;
}

.pt-id{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;    
}

.pt-id a{
    color: #2B4857;
    background-color: #E4E4E4;
    padding: 6px 20px;
    border-radius: 4px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
}

.pt-id span{
    /* color: #707070; */
    color: #2B4857;
    font-weight: 100;
}

.p-details span{
    font-weight: 100;
   
}
.p-details {
    margin: 8px 32px;
    font-weight: 500;
    color: #2B4857;
   
}

hr{
    margin: 8px 0px 0px 0px;
    border-top: 1px solid #B7B7B7;
}


/* ============ End Of PERSONAL DETAILS ============ */



    

/* ============  PATIENT DETAILS ============ */

.appointment_details{
    padding-top: 29vh;

}

.btn-refer{
    border: 1px solid #3498DB;
    background-color: white;
    border-radius: 4px;
    color: #3498DB;
    padding: 4px 16px;
}

.btn-refer:hover{
    background-color: #3498DB !important;
    color: white !important;
}

.btn-send{
    border: none;
    border: 1px solid #3498DB;
    background-color: #3498DB;
    border-radius: 4px;
    padding: 4px 16px;
    margin-left: 16px;
}

.btn-send:hover{
    background-color: #005cb2 !important;
    color: white !important;
}

.previous_apt{
    border-right: 1px solid #B7B7B7;
    height: 70vh; 
    font-size: 14px;
    font-weight: 500;
    color: #2B4857;
}



.button1 ul{
    list-style-type: none;
}

.button1 li{
    float: right;
}

.checkup_title{
    font-size: 16px;
    font-weight: 500;
    color: #2B4857;
}

.setas span{
    font-size: 14px;
    font-weight: 500;
    color: #2B4857;
}

.pov{
    font-size: 14px;
    font-weight: 500;
    color: #2B4857;
    margin-top: 12px;
}

.pov span{
    padding-right: 8px;
}

.pov input{
    width: 89%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #B7B7B7;
    padding: 12px;
}




/* ============ End Of PATIENT DETAILS ============ */